<div id="bb8">
    <h1 class="display-6">Réplique de BB8</h1>
    <p class="lead"><strong>TL;PL : un projet sur 8 mois où l'objectif est de faire une réplique de BB8 en partant des travaux existants et à peaufiner pour les portes ouvertes de l'IUT.</strong></p>
    <div class="row">
        <div class="col">
            <div class="vstack gap-3">
                <div class="p-2">
                    <figure class="figure">
                        <img src="/assets/projects/bb8.png" class="figure-img img-fluid rounded" alt="Image de BB8 (le robot de Star Wars)">
                        <figcaption class="figure-caption text-center">Il n'est pas mignon ce petit droïde ?
                        </figcaption>
                    </figure>
                </div>
                <div class="p-2">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary"><i class="bi bi-github"></i></button>
                        <a class="btn btn-primary" href="https://github.com/ismaelbalaghni/projet-bb8-2roues" role="button">Dépôt 2 roues</a>
                        <a class="btn btn-primary" href="https://github.com/ismaelbalaghni/projet-bb8-4roues" role="button">Dépôt 4 roues</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <p>
                En deuxième année de DUT GEII, nous avions un projet "fil conducteur" qui nous suivait jusqu'en
                départ en stage.<br>
                On avait le choix entre plusieurs projets tous aussi intéressants les uns que les autres mais en
                tant que passionné de Star Wars, il me fallait choisir la réplique de BB8.<br>
                L'objectif final est de proposer un robot reprenant le principe de BB8 dans un modèle fait maison à
                montrer aux portes ouvertes de l'IUT. Nous étions 5 dans ce projet et nous nous sommes bien amusés.<br>
                Afin de rendre le robot plus amusant, nous avons ajouté un contrôle des déplacements du robot via
                une manette de jeu virtuelle qui enverrait des commandes au robot via une liaison Bluetooth et un
                Arduino.<br>
                Les moteurs sont des moteurs PWM (longueur d'impulsion) et sont directement reliées aux PINs PWM de
                l'Arduino.<br>
                Pour le rendre encore plus amusant, nous avons décidé d'y ajouter un haut-parleur et de diffuser des
                bruitages de BB8 récupérés sur YouTube et tout ça pilotable via la même manette virtuelle que pour le
                déplacement.
                Vers la fin du projet, une fois que les deux prototypes étaient construits, nous avons décidé de créer
                deux robots :
            </p>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item flex-fill">à quatre roues motrices</li>
                <li class="list-group-item flex-fill">à deux roues motrices</li>
            </ul>
            <p>Nous nous sommes demandés quelle était la meilleure solution quant au déplacement du robot, à son poids, à son autonomie.</p>
            <p>Il manque cependant un élément : la recharge du robot. Peut-être que les étudiants ayant repris le projet ont pu régler ce problème.</p>
        </div>
    </div>
</div>
<hr>
<div id="erse1">
    <h1 class="display-6">Thermomètre connecté</h1>
    <p class="lead">
        TL;PL : réaliser un thermomètre connecté avec des composants électroniques qui envoie les mesures
        sur un téléphone.
    </p>
    <div class="row">
        <div class="col">
            <figure class="figure">
                <img src="/assets/projects/thermometre.jpg" class="figure-img img-fluid rounded" height="350" width="350" alt="Composant principal de notre thermomètre">
                <figcaption class="figure-caption text-center">Drôle de sonde pour relever la température</figcaption>
            </figure>
        </div>
        <div class="col">
            <p>
                Le DUT GEII est axé sur deux éléments : l'électronique et l'informatique (industrielle). À travers les
                semestres,
                nous avons plusieurs projets qui ont pour objectif de résumer ce qu'on a vu que ce soit en électronique
                ou en
                informatique.<br>
                Pour ce premier semestre, nous devions réaliser un thermomètre. On a pris quelques libertés sur la fin
                du projet
                pour le rendre connecté en envoyant les informations de température sur un téléphone via Bluetooth.<br>
                Voici les technologies utilisées dans ce projet :
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item flex-fill">C</li>
                <li class="list-group-item flex-fill">Arduino</li>
                <li class="list-group-item flex-fill">Thermistances</li>
            </ul>
            </p>
        </div>
    </div>
</div>
<hr>
<div id="erii1">
    <h1 class="display-6">Télémètre</h1>
    <p class="lead">
        TL;PL : réaliser un télémètre en VHDL avec du Xilinx et un capteur ultrasons
    </p>
    <div class="row">
        <div class="col">
            <figure class="figure">
                <img src="/assets/projects/telemetre.jpg" class="figure-img img-fluid rounded" height="350" width="350" alt="Composant principal de notre télémètre">
                <figcaption class="figure-caption text-center">Des ultrasons sont émis d'un côté et reçus de l'autre</figcaption>
            </figure>
        </div>
        <div class="col">
            <p>Comme pour le projet au-dessus, celui-ci est dédié à l'informatique industrielle.</p>
            <p>L'objectif était de créer un télémètre avec un FPGA Xilinx pour tester nos connaissances
                et quoi de mieux que ce projet fun ?</p>
            <p>Voici les technologies utilisées dans ce projet :</p>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item flex-fill">FPGA</li>
                <li class="list-group-item flex-fill">Xilinx</li>
            </ul>
        </div>
    </div>
</div>