<div id="stocksinator">
    <h1 class="display-6">Stocksinator</h1>
    <p class="lead">TL;PL : comment découvrir la programmation mobile avec un projet amusant</p>
    <div class="row">
        <div class="col">
            <div class="vstack gap-3">
                <div class="p-2">
                    <figure class="figure">
                        <img src="/assets/projects/stocksinator.jpg" class="figure-img img-fluid rounded"
                            alt="Image d'un gars devant une flèche montante et les résultats de la bourse (stonks meme)">
                        <figcaption class="figure-caption text-center">Stonks</figcaption>
                    </figure>
                </div>
                <div class="p-2">
                    <a class="btn btn-primary" href="https://github.com/ismaelbalaghni/PM-FMPproject" role="button"><i
                            class="bi bi-github"></i> Dépôt GitHub</a>
                </div>
            </div>
        </div>
        <div class="col">
            <p>
                L'objectif de ce cours était de découvrir la base de la programmation mobile sur Android.
            </p>
            <p>
                Les autres objectifs étaient aussi de découvrir les bases de Git (qu'on aura revues dans d'autres cours)
                et tout ce qui est design pattern.
            </p>
            <p>
                Mon idée de base était de faire une application listant les chefs d'états des pays et afficher une sorte
                de présentation de chacun d'entre eux. Mon délire allait même plus loin en permettant de récupérer tous
                les chefs d'état à travers l'histoire.
            </p>
            <p>
                MAIS mon idée était simplement impossible. Porte de sortie : on liste toutes les entreprises et autres
                indices listés en bourse (via FinancialModelingPrep) et permettre à l'utilisateur de voir le détail de
                chaque entreprise ou indice.
            </p>
            <p>
                Vous aurez plus d'infos sur GitHub !
            </p>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item flex-fill">Gradle</li>
                <li class="list-group-item flex-fill">Java</li>
                <li class="list-group-item flex-fill">Android Studio</li>
                <li class="list-group-item flex-fill">Architecture MVC</li>
                <li class="list-group-item flex-fill">Cache</li>
                <li class="list-group-item flex-fill">Git</li>
            </ul>
        </div>
    </div>
</div>